@font-face {
   font-family: "FC Maha Nakhon Flat Black";
   src: url("fonts/FC Maha Nakhon Flat Black Italic.woff") format("woff"), url("fonts/FC Maha Nakhon Flat Black Italic.eot") format("embedded-opentype"), url("fonts/FC Maha Nakhon Flat Black Italic.ttf") format("truetype"), url("fonts/FC Maha Nakhon Flat Black Italic.svg") format("svg");
   font-weight: normal;
   font-style: italic;
}